<div class="container">
  <ul>
    <li *ngFor="let food of foods; let i = index">
      <div>
        <img [src]="food.imageUrl" [alt]="food.name">
      </div>
      <div>
        {{food.name}}
      </div>
      <div>
          <label [for]="'price-' + i">New Price: </label>
        <input type="number" #newPriceInput [id]="'price-' + i">
        <button class="update-button" (click)="updatePrice(food.foodId, newPriceInput.value)">Update Price</button>
      </div>
      <div>
        Current Price: {{food.price}}$
      </div>
    </li>
  </ul>
</div>
